@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
    --color-background: #121212;
    --color-panels: #1E1E1E;
    --font-display: "Orbitron", "sans-serif";
    --font-body: "Inter", "sans-serif";
}